/* Footer Container */

/* .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #063143;
    font-family: 'Poppins', sans-serif;
    padding: 15px 50px;
} */

/* Footer Main */

/* .footer_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

/* Footer Main Top */

/* .footer_main_top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_main_top_heading {
    display: flex;
    height: 71px;
    width: 172px;
    font-size: 34.38px;
    font-weight: 900;
    padding: 0;
}

.footer_main_top_heading_1 {
    color: #ed2b2b;
}

.footer_main_top_heading_2 {
    color: #ffffff;
}

.footer_main_top_logo {
    display: flex;
    justify-content: space-between;
    width: 130.6px;
} */

/* Footer Main Middle */

/* .footer_main_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
} */

/* .footer_main_middle hr {
    width: 100%;
    height: 0px;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    flex: none;
    order: 1;
    flex-grow: 0;
} */

/* Footer Main Bottom */

/* .footer_main_bottom_table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0 9px;
}

.footer_main_bottom_table thead {
    color: rgb(255, 255, 255, 0.6);
    font-weight: 400;
}

.footer_main_bottom_table_head_row,
.footer_main_bottom_table_row_1 {
    height: 30px;
    margin-bottom: 9px;
}

.footer_main_bottom_table_row_2 {
    height: 75px;
}

.footer_main_bottom_table_head_1,
.footer_main_bottom_table_head_2 {
    width: 270px;
}

.footer_main_bottom_table_head_3 {
    width: 448px;
}

.footer_main_bottom_table_head_row,
.footer_main_bottom_table_row_1,
.footer_main_bottom_table_row_2 {
    vertical-align: top;
}

.footer_main_bottom_table tbody {
    color: rgb(255, 255, 255, 0.4);
}

.footer_main_bottom_table_row_1_option_1,
.footer_main_bottom_table_row_1_option_2 {
    text-decoration: underline;
}

.footer_main_bottom_table_row_2_option_1,
.footer_main_bottom_table_row_2_option_2 {
    text-decoration: underline;
} */


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #063143;
    font-family: 'Poppins';
    padding: 30px 40px;
}

.footer_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 90%;
}

/* ---------------------- Footer Left ---------------------- */

.footer_main_left {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 60px;
}

.footer_main_left_heading {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.footer_main_left_heading_logo {
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.footer_main_left_heading_logo img {
    height: 100%;
    width: 100%;
}

.footer_main_left_heading_text span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
}

.footer_main_left_text {
    margin-bottom: 10px;
}

.footer_main_left_text span {
    color: rgb(255, 255, 255, 0.75);
    font-size: 14px;
}

.footer_main_left_button button {
    background-color: #063143;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #ffffff;
}

.footer_main_left_button button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #063143;
}


/* ---------------------- Footer Middle ---------------------- */

.footer_main_middle {
    width: 47.5%;
    display: flex;
    justify-content: center;
}

.footer_main_bottom_table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 40px 20px;
}

.footer_main_bottom_table_head_row,
.footer_main_bottom_table_row_1,
.footer_main_bottom_table_row_2 {
    vertical-align: top;
}

.footer_main_bottom_table thead {
    color: rgb(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 22px;
}

.footer_main_bottom_table tbody {
    color: rgb(255, 255, 255, 0.4);
    font-size: 16px;
}

/* ---------------------- Footer Right ---------------------- */

.footer_main_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 10%;
}

.footer_main_right_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
}

.footer_main_right_icons img {
    height: 100%;
    width: 10%;
}

.footer_main_right_icons img:hover {
    cursor: pointer;
}